{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="section-content padding-y bg">
    <div class="container">
        <!-- ============================ COMPONENT 1 ================================= -->
        <div class="row">
            <aside class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-4 text-center">Billing Address</h4>
                        <div class="card-body">
                            <a href="{% url 'orders:add_address_checkout' %}" class="btn btn-success"> Add New Address <i
                            class="fas fa-chevron"></i></a>
                        </div>
                        <form action="{% url 'orders:place_order' %}" method="POST">
                            {% csrf_token %}
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <h5 class="text-center text-white bg-warning" style="border-radius: 8px; padding: 5px;">Choose Delivery address:</h5>
                                    <div class="custom-control custom-radio">
                                        {% for address in user_addresses %}
                                            <div>
                                                <input type="radio" id="address{{ address.id }}" name="selected_address" class="custom-control-input" value="{{ address.id }}" required>
                                                <label class="custom-control-label" for="address{{ address.id }}">
                                                {{ address.full_name }} - {{ address.address_line_1 }}, {{ address.city }}
                                            </label>
                                            </div>

                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                    </div>
                </div> <!-- card.// -->
            </aside> <!-- col.// -->

            <aside class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-center text-white bg-warning" style="border-radius: 8px; padding: 5px;"> Order Summary </h5>
                        <table class="table table-borderless table-shopping-cart">
                            <thead class="text-muted">
                            <tr class="small text-uppercase">
                                <th scope="col">Product</th>
                                <th scope="col" width="120">Quantity</th>
                                <th scope="col" width="120">Price</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for cart_item in cart_items %}
                            <tr>
                                <td>
                                    <figure class="itemside align-items-center">
                                        <div class="aside"><img src="{{ cart_item.product.product_image.url }}"
                                                                class="img-sm">
                                        </div>
                                        <figcaption class="info">
                                            <a href="{{ cart_item.product.get_url }}" class="title text-dark">
                                                {{ cart_item.product.product_name }}</a>
                                            <p class="text-muted small">
                                                {% if cart_item.variant.all %}
                                                    {% for item in cart_item.variant.all %}
                                                        {{ item.variant_category | capfirst }}: {{ item.variant_value | capfirst }} <br>
                                                    {% endfor %}
                                                {% endif %}
                                            </p>
                                        </figcaption>
                                    </figure>
                                </td>
                                <td>
                                    <label>{{ cart_item.quantity }}</label>
                                </td>
                                <td>
                                    {% if cart_item.product.offer_percentage > 0 %}
                                        <div class="price-wrap">
                                            <var class="price">Rs. {{ cart_item.sub_total_offer }} </var>
                                            <small class="text-muted"> Rs. {{ cart_item.product.offer_price }} each </small>
                                        </div> <!-- price-wrap .// -->
                                    {% else %}
                                        <div class="price-wrap">
                                            <var class="price">Rs. {{ cart_item.sub_total }} </var>
                                            <small class="text-muted"> Rs. {{ cart_item.product.price }} each </small>
                                        </div> <!-- price-wrap .// -->
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                            <div class="card col-md-12">
                                <div class="card-body text-center">
                                    <span>Sub Total:</span>
                                    <span class="text-right"><strong>Rs. {{ total | floatformat:2 }}</strong> | </span>
                                    <span>Tax:</span>
                                    <span class="text-right"><strong>Rs. {{ tax | floatformat:2 }}</strong> | </span>
                                    <span>Grand Total:</span>
                                    <span class="text-right"><strong>Rs. {{ grand_total | floatformat:2 }}</strong></span>
                                    {% if total_discount > 0 %}
                                    <hr>
                                     <p class="text-center">You have saved! <strong>Rs. {{ total_discount | floatformat:2 }}</strong></p>
                                    {% endif %}
                                </div> <!-- card-body.// -->
                            </div> <!-- card.// -->
                        <button type="submit" name="submit" class="btn btn-primary btn-block">Proceed to Place Order</button>
                        <a href="{% url 'store' %}" class="btn btn-light btn-block">Continue Shopping</a>
                        </form>
                    </div> <!-- card-body.// -->
                </div> <!-- card.// -->
            </aside> <!-- col.// -->
        </div> <!-- row.// -->
        <!-- ============================ COMPONENT 1 END .// ================================= -->

    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}

