{% extends 'base.html' %}
{% block title %}
Add Address
{% endblock title %}


{% block custom_css %}
{% endblock custom_css %}

{% block page_title %}
Add Address
{% endblock page_title %}

{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <!-- ============================ COMPONENT REGISTER   ================================= -->
    <div class="card mx-auto" style="max-width:520px; margin-top:30px;">
        <article class="card-body">
            {% include 'includes/alerts.html' %}
            <header class="mb-4 bg-info"><h4 class="card-title text-center">Add Delivery Address</h4></header>
            <form action="{% url 'orders:add_address_checkout' %}" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col form-group col-md-6">
                        <label>Full Name</label>
                        {{ form.full_name }}
                    </div> <!-- form-group end.// -->
                    <div class="col form-group col-md-6">
                        <label>Phone Number</label>
                        {{ form.phone_number }}
                    </div> <!-- form-group end.// -->
                </div> <!-- form-row end.// -->
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Address Line 1</label>
                        {{ form.address_line_1 }}
                    </div> <!-- form-group end.// -->
                    <div class="form-group col-md-6">
                        <label>Address Line 2</label>
                        {{ form.address_line_2 }}
                    </div> <!-- form-group end.// -->
                </div> <!-- form-row.// -->
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>City</label>
                        {{ form.city }}
                    </div> <!-- form-group end.// -->
                    <div class="form-group col-md-6">
                        <label>State</label>
                        {{ form.state }}
                    </div> <!-- form-group end.// -->
                </div> <!-- form-row.// -->
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Country</label>
                        {{ form.country }}
                    </div> <!-- form-group end.// -->
                    <div class="form-group col-md-6">
                        <label>Zip Code</label>
                        {{ form.zipcode }}
                    </div> <!-- form-group end.// -->
                </div> <!-- form-row.// -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Add</button>
                </div> <!-- form-group// -->
                {{ form.non_field_errors}}
            </form>
        </article><!-- card-body.// -->
    </div> <!-- card .// -->
    <!-- ============================ COMPONENT REGISTER  END.// ================================= -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}

{% block custom_js %}
{% endblock custom_js %}