{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="section-content padding-y bg">
    <div class="container">
        <!-- ============================ COMPONENT 1 ================================= -->
        <div class="row">
            <aside class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-4 text-center">Billing Address</h4>
                        <form action="{% url 'add_billing_address' %}" method="POST">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col form-group">
                                    <label>First Name</label>
                                    <input type="text" name="first_name" class="form-control" required>
                                </div>
                                <div class="col form-group">
                                    <label>Last Name</label>
                                    <input type="text" name="last_name" class="form-control" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col form-group">
                                    <label>Email</label>
                                    <input type="email" name="email" class="form-control" required>
                                </div>
                                <div class="col form-group">
                                    <label>Phone Number</label>
                                    <input type="text" name="phone" class="form-control" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col form-group">
                                    <label>Address Line 1</label>
                                    <input type="text" name="address_line_1" class="form-control" required>
                                </div>
                                <div class="col form-group">
                                    <label>Address Line 2</label>
                                    <input type="text" name="address_line_2" class="form-control">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col form-group">
                                    <label>City</label>
                                    <input type="text" name="city" class="form-control" required>
                                </div>
                                <div class="col form-group">
                                    <label>State</label>
                                    <input type="text" name="state" class="form-control" required>
                                </div>
                                <div class="col form-group">
                                    <label>Country</label>
                                    <input type="text" name="country" class="form-control" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col form-group">
                                    <label>Order Note</label>
                                    <textarea name="order_note" class="form-control" rows="2"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                </div> <!-- card.// -->
            </aside> <!-- col.// -->
        </div> <!-- row.// -->
        <!-- ============================ COMPONENT 1 END .// ================================= -->

    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}