{% load static %}

<header class="section-header">
    <section class="header-main border-bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-2 col-md-3 col-6">
                    <a href="{% url 'home' %}" class="brand-wrap">
                        <img class="logo" src="{% static './images/logo.png' %}">
                    </a> <!-- brand-wrap.// -->
                </div>
                <div class="col-lg col-sm col-md col-6 flex-grow-0">
                </div> <!-- col.// -->
                <div class="col-lg  col-md-6 col-sm-12 col">
                </div> <!-- col.// -->
                <div class="col-lg-3 col-sm-6 col-8 order-2 order-lg-3">
                    <div class="d-flex justify-content-end mb-3 mb-lg-0">
                        {% if user.id %}
                        <div class="widget-header">
                            <small class="title text-muted">Welcome {{ user.first_name }}</small>
                            <div>
                                <a href="{% url 'dashboard_admin' %}">Dashboard</a> <span class="dark-transp"> | </span>
                                <a href="{% url 'logout_admin' %}">Logout</a>
                            </div>
                        </div>
                        {% else %}
                        <div class="widget-header">
                            <small class="title text-muted">Welcome guest!</small>
                            <div>
                                <a href="{% url 'signin_admin' %}">Sign in</a> <span class="dark-transp"> | </span>
                                <a href="{% url 'register' %}">Register</a> <span class="dark-transp"> | </span>
                                <a href="{% url 'logout_admin' %}">Logout</a>
                            </div>
                        </div>
                        {% endif %}
                    </div> <!-- widgets-wrap.// -->
                </div> <!-- col.// -->
            </div> <!-- row.// -->
        </div> <!-- container.// -->
    </section> <!-- header-main .// -->
</header> <!-- section-header.// -->