{% load static %}
<div class="main-sidebar sidebar-style-2">
    <aside id="sidebar-wrapper" style="background-color: aqua;">
      <ul class="sidebar-menu">
        <li class="menu-header">Dashboard</li>
          <a href="#" class="nav-link has-dropdown"><i class="fas fa-dice-d6"></i><span>Category</span></a>
          <ul class="dropdown-menu">
            <li class='{% if request.path == category_list %} active {% endif %}'><a class="nav-link" href="{% url 'category_list' %}">Caltegory List</a></li>
            <li class=""><a class="nav-link" href="">Add Category</a></li>
          </ul>
      </ul>
      <div class="mt-4 mb-4 p-3 hide-sidebar-mini">
        <a href="" class="btn btn-primary btn-lg btn-block btn-icon-split"> <i class="fas fa-rocket"></i> LOGOUT </a>
      </div>
    </aside>
</div>