{% extends 'admin/base_admin.html' %}
{% block title %}
Users List
{% endblock title %}


{% block custom_css %}
{% endblock custom_css %}

{% block page_title %}
Users List
{% endblock page_title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="search-element">
                <div class="card">
                    <div class="card-body">
                        <form method="get">
                            <button class="btn  btn-primary" type="submit" style="float:right"><i
                                    class="fas fa-search"></i> Search
                            </button>
                            <input class="form-control" type="search" placeholder="Search" aria-label="Search"
                                   data-width="250" style="width: 250px;float:right" name="filter" value="{{ filter }}">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">
    <div class="container">
        <div class="row">
            {% include 'includes/sidebar-admin-dashboard.html' %}
            <main class="col-md-10">
                <article class="card">
                    <div class="table-responsive">
                        <div class="table-heading text-center font-weight-bold border-bottom mb-3 bg-info"
                             style="font-size: 24px; line-height: 1.5;">User's Data
                        </div>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <td class="table-heading text-center font-weight-bold bg-primary text-white border-bottom mb-3">
                                    <label>First Name</label>
                                </td>
                                <td class="table-heading text-center font-weight-bold bg-primary text-white border-bottom mb-3">
                                    <label>Email</label>
                                </td>
                                <td class="table-heading text-center font-weight-bold bg-primary text-white border-bottom mb-3">
                                    <label>Phone Number</label>
                                </td>
                                <td class="table-heading text-center font-weight-bold bg-primary text-white border-bottom mb-3">
                                    <label>Date Joined</label>
                                </td>
                                <td class="table-heading text-center font-weight-bold bg-primary text-white border-bottom mb-3">
                                    <label>Last Login</label>
                                </td>
                                <td class="table-heading text-center font-weight-bold bg-primary text-white border-bottom mb-3">
                                    <label>Status</label>
                                </td>
                                <td class="table-heading text-center font-weight-bold bg-primary text-white border-bottom mb-3">
                                    <label>Action</label>
                                </td>
                            </tr>
                            </thead>

                            <tbody>
                            {% for profile in profiles %}
                            <tr>
                                <td>
                                    <p class="title mb-0"> {{ profile.user.first_name }} </p>
                                </td>
                                <td class="text-center">
                                    <p class="title mb-0"> {{ profile.user.email }} </p>
                                </td>
                                <td class="text-center">
                                    <p class="title mb-0"> {{ profile.phone_number }} </p>
                                </td>
                                <td class="text-center">
                                    <p class="title mb-0"> {{ profile.user.date_joined }} </p>
                                </td>
                                <td class="text-center">
                                    <p class="title mb-0"> {{ profile.user.last_login }} </p>
                                </td>
                                <td class="text-center">
                                    <p class="title mb-0"> {{ profile.user.is_active }} </p>
                                </td>
                                <td class="text-center">
                                    <form method="post" action="{% url 'toggle_user_status' profile.user.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-warning">
                                            <i class="fas fa-chevron"></i>
                                            {% if profile.user.is_active %}Block{% else %}Unblock{% endif %}
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div> <!-- table-responsive .end// -->
                </article> <!-- order-group.// -->
            </main>
        </div> <!-- row.// -->
    </div>
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock%}


{% block custom_js %}
{% endblock custom_js %}