{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">
    {% include 'includes/alerts.html' %}
    <div class="container">
        <div class="row">
            {% include 'includes/dashboard-sidebar.html' %}
            <main class="col-md-9">
                <article class="card">
                    <header class="card-header">
                        <strong class="d-inline-block mr-3">Edit Address</strong>
                    </header>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <form action="{% url 'edit_address' address_id=address_id %}" method="POST">
                                    {% csrf_token %}
                                    <div class="form-row">
                                        <div class="col form-group col-md-6">
                                            <label>Full Name</label>
                                            {{ form.full_name }}
                                        </div> <!-- form-group end.// -->
                                        <div class="col form-group col-md-6">
                                            <label>Phone Number</label>
                                            {{ form.phone_number }}
                                        </div> <!-- form-group end.// -->
                                    </div> <!-- form-row end.// -->
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Address Line 1</label>
                                            {{ form.address_line_1 }}
                                        </div> <!-- form-group end.// -->
                                        <div class="form-group col-md-6">
                                            <label>Address Line 2</label>
                                            {{ form.address_line_2 }}
                                        </div> <!-- form-group end.// -->
                                    </div> <!-- form-row.// -->
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>City</label>
                                            {{ form.city }}
                                        </div> <!-- form-group end.// -->
                                        <div class="form-group col-md-6">
                                            <label>State</label>
                                            {{ form.state }}
                                        </div> <!-- form-group end.// -->
                                    </div> <!-- form-row.// -->
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Country</label>
                                            {{ form.country }}
                                        </div> <!-- form-group end.// -->
                                        <div class="form-group col-md-6">
                                            <label>Zip Code</label>
                                            {{ form.zipcode }}
                                        </div> <!-- form-group end.// -->
                                    </div> <!-- form-row.// -->
                                    <input type="submit" value="Save" class="btn btn-primary">
                                    {{ form.non_field_errors}}
                                </form>
                            </div>
                        </div> <!-- row.// -->
                    </div> <!-- card-body .// -->
                </article> <!-- order-group.// -->
            </main>
        </div> <!-- row.// -->
    </div>
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}